

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :username %>        
        <%= f.input :email, :autofocus => true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>       
        <%= f.input :password, label: "Password baru", :autocomplete => "off", hint: "(biarkan kosong jika tidak ingin mengubah)" %>        
        <%= f.input :password_confirmation, label: "Ulangi Password baru" %>
        <%= f.input :current_password, label: "Password Lama", hint: "(kami butuh password anda untuk konfirmasi perubahan)"%>
      
        
        <%= f.input :nama, label:"Nama"%>
        <%= f.input :nama_panggilan, label:"Nama Panggilan"%>        
        <%= f.input :nim, label:"Nomor induk Mahasiswa"%>
        
        <%= f.input :tempat_lahir, label:"Tempat Lahir"%>
      
        <%= f.input :tanggal_lahir, as: :date, start_year: Date.today.year - 35,
                                      end_year: Date.today.year - 10, 
                                      order: [:day, :month, :year], prompt: true %>
                          
       
        
        <%= f.input :jenis_kelamin, label:"Jenis Kelamin"%>
        <%= f.input :jumlah_bersaudara, label:"Jumlah Bersaudara"%>
        <%= f.input :status_pernikahan, label:"Status Kawin"%>
        <%= f.input :warga_negara, label:"Negara"%>
        <%= f.input :suku, label:"Suku"%>
        
        <%= f.input :alamat, label:"Alamat"%>
        <%= f.input :telepon_rumah, label:"Telepon Rumah"%>
        <%= f.input :telepon_seluler, label:"Telepon Seluler"%>
        <%= f.input :kota, label:"Kota"%>
        <%= f.input :nama_ayah, label:"Nama Ayah"%>
        <%= f.input :nama_ibu, label:"Nama Ibu"%>
        <%= f.input :pendidikan_ayah, label:"Pendidikan Ayah"%>
        <%= f.input :pendidikan_ibu, label:"Pendidikan Ibu"%>
        <%= f.input :pekerjaan_ayah, label:"Pekerjaan Ayah"%>
        <%= f.input :pekerjaan_ibu, label:"Pekerjaan Ibu"%>
        <%= f.input :alamat_orang_tua, label:"Alamat Orang Tua"%>
        <%= f.input :kota_orang_tua, label:"Kota Orang Tua"%>
        <%= f.input :provinsi_orang_tua, label:"Provinsi Orang Tua"%>
        <%= f.input :telepon_rumah_orang_tua, label:"Telepon Rumah Orang Tua"%>
        <%= f.input :telepon_seluler_orang_tua, label:"Telepon Seluler Orang Tua"%>
        <%= f.input :penghasilan_orang_tua, label:"Penghasilan Orang Tua"%>
        <%= f.input :sekolah_menengah_atas, label:"Sekolah Menengah Atas (SMA)/Kejuruan (SMK)"%>
        <%= f.input :tahun_lulus_sma, label:"Tahun Lulus SMA/SMK"%>
        <%= f.input :sekolah_menengah_pertama, label:"Sekolah Menengah Pertama"%>
        <%= f.input :tahun_lulus_smp, label:"Tahun Lulus SMP"%>
        <%= f.input :sekolah_dasar, label:"Sekolah Dasar"%>
        <%= f.input :tahun_lulus_sd, label:"Tahun Lulus SD"%>
        <%= f.input :taman_kanak_kanak, label:"Taman Kanak Kanak"%>
        <%= f.input :tahun_lulus_taman_kanak_kanak, label:"Tahun Lulus Taman Kanak Kanak"%>
        <%= f.button :submit %> 
        
       
       
        
      <% end %>      

      <p>Non-Aktif? <%= button_to "Non-Aktif kan akun saya", registration_path(resource_name), :data => { :confirm => "Anda Yakin?" }, :method => :delete %></p>

      <%= link_to   '<i class="icon-chevron-left"></i> Kembali'.html_safe, root_url %>
    </div>
    <div class="span2"></div>
  </div>
  </div>
</div>
<hr>

