<div class="row-fluid">
  <div class="span12">
    <div class="span4"></div>
    <div class="span4">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field"><%= f.label :username %>
          <%= f.text_field :username %></div>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>       
          

        <div><%= f.label :password %>
        <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>
  
          <div><%= f.submit "Daftar" %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="span4"></div>
  </div>
</div>
