<%= simple_form_for(@information) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :info_name, label: "Perihal Info" %>
    <%= f.input_field :content, label: "Isi", class: 'ckeditor' %>
    <%= f.input :author_info ,label: "Penulis"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
