<p id="notice"><%= notice %></p>

<p>
  <b>No pendaftaran:</b>
  <%#= @daftarformulir.no_pendaftaran %>
</p>

<p>
  <b>Nama:</b>
  <%= @daftarformulir.nama %>
</p>

<p>
  <b>Alamat:</b>
  <%= @daftarformulir.alamat %>
</p>

<p>
  <b>Kode pos:</b>
  <%= @daftarformulir.kode_pos %>
</p>

<p>
  <b>No hp:</b>
  <%= @daftarformulir.no_hp %>
</p>

<p>
  <b>Tempat lahir:</b>
  <%= @daftarformulir.tempat_lahir %>
</p>

<p>
  <b>Tanggal lahir:</b>
  <%= @daftarformulir.tanggal_lahir %>
</p>

<p>
  <b>Jenis kelamin:</b>
  <%= @daftarformulir.jenis_kelamin %>
</p>

<p>
  <b>Agama:</b>
  <%= @daftarformulir.agama %>
</p>

<p>
  <b>Suku:</b>
  <%= @daftarformulir.suku %>
</p>

<p>
  <b>Alamat tinggal sekarang:</b>
  <%= @daftarformulir.alamat_tinggal_sekarang %>
</p>

<p>
  <b>Nama lengkap ayah:</b>
  <%= @daftarformulir.nama_lengkap_ayah %>
</p>

<p>
  <b>Pekerjaan ayah:</b>
  <%= @daftarformulir.pekerjaan_ayah %>
</p>

<p>
  <b>Alamat ayah:</b>
  <%= @daftarformulir.alamat_ayah %>
</p>

<p>
  <b>Nama lengkap ibu:</b>
  <%= @daftarformulir.nama_lengkap_ibu %>
</p>

<p>
  <b>Pekerjaan ibu:</b>
  <%= @daftarformulir.pekerjaan_ibu %>
</p>

<p>
  <b>Asal SLTA:</b>
  <%= @daftarformulir.nama_slta %>
</p>

<p>
  <b>Kabupaten SLTA:</b>
  <%= @daftarformulir.kabupaten_slta %>
</p>

<p>
  <b>Propinsi SLTA:</b>
  <%= @daftarformulir.propinsi_slta %>
</p>

<p>
  <b>Jurusan SLTA:</b>
  <%= @daftarformulir.jurusan_slta %>
</p>

<p>
  <b>Tahun masuk SLTA:</b>
  <%= @daftarformulir.tahun_masuk_slta %>
</p>

<p>
  <b>Tahun lulus SLTA:</b>
  <%= @daftarformulir.tahun_lulus_slta %>
</p>

<p>
  <b>Total nilai ujian nasional:</b>
  <%= @daftarformulir.total_nilai_ujian_nasional %>
</p>

<p>
  <b>Jumlah mata pelajaran ujian nasional:</b>
  <%= @daftarformulir.jumlah_mata_pelajaran_ujian_nasional %>
</p>


<%= link_to 'Edit', edit_daftarformulir_path(@daftarformulir) %> |
<%#= link_to 'Back', daftarformulirs_path %>
