<div>
  <%= form_for (@page) do |f| %>
    <% if @page.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    
  <div class="field">
    <%= f.label :judul %> 
    <%= f.text_field :judul %>
  </div>

  <div class="field" >
    <%= f.label :isi%> 
    <%= f.text_area :isi, class: 'ckeditor' %>
  </div>
  
  <div class="field" >
    <%= f.label :permalink%> 
    <%= f.text_field :permalink %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
  
  
  <%end%>
  
  <%= link_to 'Index', indexhalaman_path %>
  
</div>