<h1>Index Halaman</h1>

<table class="table">
  <tr>
    <th>Judul</th>
    <th>Isi</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @pages.each do |page| %>
  <tr>
    <td><%= page.judul %></td>
    <td><%= raw page.isi %></td>
    <td><%= link_to 'Show', page_path(page) %></td>
    <%if user_signed_in? %>
      <%if can? :update, @page %>
          <td><%= link_to 'Edit', edit_page_path(page) %></td>
      <%end%>
      <%if can? :destroy, @page %>
          <td><%= link_to 'Destroy', page_path(page),method: :delete, data: { confirm: 'Hapus Halaman Ini?' } %></td>
      <%end%>
    <%end%>
  </tr>
<% end %>
</table>
<%if user_signed_in?%>
  <%= link_to '<i class="icon-pencil"></i> buat baru '.html_safe, new_page_path %>
<%end%>
<hr>