<%= simple_form_for(@diktinews) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :headline, label: "Judul Berita" %>
    <%= f.input_field :content, class:"ckeditor", label: "Isi Berita" %>
    <%#= f.input :image,  :input_html => {:preview_version => :thumb}, label: 'Upload Gambar' %>
    <%= f.input :reference %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
