<h1>Berita Dikti</h1>

<% @diktinews.each do |diktinews| %>
  
   <h4><%= link_to diktinews.headline, diktinews %></h4>
    <p><%= raw diktinews.content %></p>
    Referensi <%= diktinews.reference %> 
    Tanggal Posting <%= diktinews.created_at.strftime('%d %b, %Y')%></br>
    <%= link_to 'Edit', edit_diktinews_path(diktinews) %> || <%= link_to 'Hapus', diktinews, method: :delete, data: {confirm: 'Hapus Berita Ini?'} %></br>    
    
<% end %>

<br />

<%= link_to 'Buat Berita', new_diktinews_path %>
