<p id="notice"><%= notice %></p>
<div>
<h4><%= @diktinews.headline%></h4>
<%= raw @diktinews.content %>
Sumber Berita <%= @diktinews.reference %> dibuat pada <%= @diktinews.created_at.strftime('%d %b, %Y')%></br>
</div>

<%= link_to 'Edit', edit_diktinews_path(@diktinews) %> | <%= link_to 'Index', diktinews_index_path %>
