<h3><center>Mata Kuliah Kurikulum 2011</center></h3>

<table class="table">
   <tr>
      <th>No</th>
      <th>Kode</th>
      <th>Mata Kuliah</th>
      <th>Teori(sks)</th>
      <th>Lab(sks)</th>
      <th>Jumlah(sks)</th>
      <th>Semester</th>
      <th>Mata Kuliah Pilihan</th>
      
  </tr>
   <% Matakuliah.all.each_with_index do |m,i| %>
  <tr>
      <td><%= i + 1%></td>
      <td><%= m.kode%></td>
      <td><%= m.mata_kuliah%></td>
      <td><center><%= m.teori%></center></td>
      <td><center><%= m.lab %></center></td>
      <td><center><%= m.teori + m.lab %></center></td>
      <td><center><%= m.semester %></center></td>
      <td><center><%= m.mata_kuliah_pilihan %></center></td> 
      <%if user_sign_in? %>     
      <td><%= link_to 'Edit', edit_matakuliah_path(m) %></td>
      <td><%= link_to 'Hapus', matakuliah_path(m), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
  </tr>
  <% end %>
</table>
<%if user_sign_in? %>   
<%= link_to 'Tambah Mata Kuliah', new_matakuliah_path %>
<%end%>