<div>
<%= form_for @matakuliah do |m| %>
  
<div>
  <%= m.label :mata_kuliah %>
  <%= m.text_field :mata_kuliah %>
</div>
  <div>
    <%= m.label :kode %>
    <%= m.text_field :kode %>
  </div>
  <div>
    <%= m.label :teori, "Teori Berapa SKS?" %>
    <%= m.select :teori,['1','2','3'] %>
  </div>
  <div>
    <%= m.label :lab, "Lab Berapa SKS" %>
    <%= m.select :lab, ['1','2','3'] %>
  </div>
  
  <div>
    <%= m.label :mata_kuliah_pilihan, "Termasuk Mata Kuliah Pilihan?" %>
    <%= m.select :mata_kuliah_pilihan, ['tidak','ya'] %>
  </div>
  <div>
    <%= m.submit %>
  </div>
<% end %>
</div>