<p id="notice"><%= notice %></p>

<p>
  <strong><b>Standar <%= @akreditasi.id %>: </b>
  <%= @akreditasi.name %> </strong>
</p>

1.1 Visi, Misi, Tujuan dan Sasaran serta Strategi Pencapaian</br>
1.1.1 Jelaskan Mekanisme Penyusunan visi, misi, tujuan dan sasaran program studi, serta pihak-pihak yang dilibatkan.</br> 
1.1.2 Visi</br> 
1.1.3 Misi</br> 
1.1.4 Tujuan</br> 
1.1.5 Sasaran dan Strategi Pencapaiannya</br>
1.2   Sosialisasi</br>
      Uraikan upaya penyebaran/sosialisasi visi, misi dan tujuan program studi serta pemahaman sivitas akademika (dosen dan mahasiswa) dan tenaga kependidikan </br>

<hr>

<%= link_to 'Edit', edit_akreditasi_path(@akreditasi) %> |
<%= link_to 'Kembali', akreditasi_pt_path %>

01017241100
