<p id="notice"><%= notice %></p>

<p>
  <b><strong>Standar <%= @akreditasi.id %>: </strong></b>
  <%= @akreditasi.name %>
</p>


<%= link_to 'Edit', edit_akreditasi_path(@akreditasi) %> |
<%= link_to 'Kembali', akreditasi_pt_path %>
