<footer class = "row-fluid">       
  <!-- FOOTER -->
  <center>        
      <div class="span 12">        
          <div class = "row-fluid">                  
            <div class="span5">                
              <p>"Teknik Mesin Universitas Fajar terus berkembang dan berusaha memfasilitasi terwujudnya cita-cita tunas muda calon teknokrat generasi bangsa. Bersama kami, mari membangun negara yang lebih baik lagi"</p>
            </div>            
            <div class="span7">
              <center>
              <ul class= "nav nav-tabs active">
                  <li ><%=link_to "Hubungi Kami", "#" %></li>           
                  <li ><%=link_to "Universitas Fajar", "http://www.unifa.ac.id", target: :blank %></li> 
                  <li ><%=link_to "Media Fajar", "http://www.fajar.co.id/", target: :blank %></li>
                  <li ><%=link_to "Dikti", "http://www.dikti.go.id/", target: :blank%></li>  
                  <li ><%=link_to "Kopertis IX", "http://www.kopertis9.or.id/", target: :blank %></li>   
                  <li ><%=link_to "Kemdiknas", "http://www.kemdiknas.go.id/", target: :blank %></li>         
              </ul> 
              </center>                            
            </div>                
        </div>
        <div class="span12"> </div>
        <center>&copy;Teknik Mesin Universitas Fajar - Makassar, Indonesia </center>               
      </div>
      <center>         
</footer>