<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">Teknik Mesin Unifa</a>
      <div class="container-fluid nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav nav-pills ">
            <li><%=link_to '<i class="icon-home"></i> Beranda'.html_safe, root_url%></li>           
        </ul>      

        <ul class="nav nav-pills">
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dosen<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!-- links -->
                <li><%=link_to "Staf Dosen", "#" %></li>
                <li ><%=link_to "Beasiswa Dosen", "#"%></li>        
                
                <li><%=link_to "Hibah Penelitian", "#" %></li>  
                <li><%=link_to "Panduan Sertifikasi", panduansertifikasi_path %></li> 
                <li><%=link_to "Garis Besar Pengajaran", "#" %></li>  
                 <li><%=link_to "Satuan Acara Pengajaran", "#" %></li>               
            </ul>
            </li>
        </ul> 

        <ul class="nav nav-pills">
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mahasiswa<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!-- links -->
                <li><%=link_to "Penelitian Dan Keahlian", penelitiandankeahlian_path %></li>
                <li><%=link_to "Beasiswa Mahasiswa", "#"%></li>
                <li><%=link_to "Prestasi", "#" %></li>
                <li><%=link_to "Mata Kuliah", matakuliahs_path %></li>
                <li><%=link_to "Jadwal Kuliah", "#" %></li>
                <li><%=link_to "Himpunan Mahasiswa Mesin", "#" %></li>                
            </ul>
            </li>
        </ul>


        <ul class="nav nav-pills">
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fitur<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!-- links -->
                <li><%=link_to "Berita", "#" %></li>
                <li><%=link_to "Artikel", "#" %></li>
                <li><%=link_to "Galeri", "#" %></li>                      
                <li><%=link_to "Info Kampus", "#"%></li>
                     
            </ul>
            </li>
        </ul>        
       
        <ul class="nav nav-pills pull-right">        
                <% if user_signed_in? %>
                
                <li > <%= link_to current_user.email %> </li>
                <li >
                    <%= link_to 'Edit Profil', edit_user_registration_path %>                        
                <li>
                <li class= "nav-tabs active"><%= link_to '<i class="icon-off"></i>'.html_safe, destroy_user_session_path, method: :delete, title: "Logout", data: {tooltip: true} %>   
                <li>            

                <% else %>
                <li>
                    <%= link_to "Daftar", new_user_registration_path %>                   
                <li>
                <li >
                    <%= link_to '<i class="icon-off"></i>'.html_safe, new_user_session_path, title: "Login", data: {tooltip: true}  %>
                </li>
                <% end %>
        </ul> 
        
        
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
