<!DOCTYPE html>
<html>
<head>
  <title>Unifa</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigasi'%>
  <%= yield %>

</body>
</html>
